# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [138]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [139]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [140]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [141]:
print(next(iterator))

3

In [142]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [143]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

#### 1. In the cell below, write a function that takes an iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [164]:
def divisible2(list):
    x = 1
    for x in list:
        if x % 2 == 0:
            yield x
            x += 1
        else:
            yield 0
            x += 1

newgen = divisible2(iter([2,3,4,5]))
print(next(newgen))
print(next(newgen))
print(next(newgen))
print(next(newgen))

2
0
4
0

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [146]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [147]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

#### 2. In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [177]:
def even_iterator(n):
    list = [i for i in range(0,n+1,2)]   # Crees el llistat de números que vols que contingui l'iterador
    j = iter(list)           # utilitzes j com l'iterador tonto
    return j                 # vols que a cada iteració et retorni el valor corresponent a j

k = even_iterator(8)      # crides a la funció amb l'input n a través de crear la variable k

print(next(k))
print(next(k))
print(next(k)) 
print(next(k))
print(next(k))

0
2
4
6
8

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [178]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

#### 1. Let's look at the dataset using the `head` function.

In [179]:
df = pd.DataFrame(iris)
print(df.shape)
df.head()

(150, 5)

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

#### 2. Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [180]:
# Your code here:
print(np.mean(iris))
    
#Por defecto, al usar la mean function, te calcula la media de los valores de cada columna numérica

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [216]:
print(np.mean(df))

#me da lo mismo si se lo hago al paquete de datos que al dataframe en sí

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

#### 3. Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [181]:
# Your code here:
print(np.std(iris))

#Por defecto, al usar la desviación estándar, te la calcula de los valores de cada columna numérica

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

In [217]:
print(np.std(df))

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

#### 4. The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [182]:
# Your code here:

df.dtypes    #To check the columns that are numeric

iris_numeric = iris.select_dtypes(include='number')   #To create a new df with only the columns that are numeric

print(iris_numeric.shape)    #To check the new shape of iris_numeric
iris_numeric.head()         #To preview the initial 5 rows of iris_numeric

(150, 4)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [218]:
# me sale igual si se lo hago con iris o con df

df.dtypes    #To check the columns that are numeric

iris_numeric = df.select_dtypes(include='number')   #To create a new df with only the columns that are numeric

print(iris_numeric.shape)    #To check the new shape of iris_numeric
iris_numeric.head()         #To preview the initial 5 rows of iris_numeric

(150, 4)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

#### 5. Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [193]:
convert = 0.393701

def cm_to_in(x):
    y = x*convert
    return y
        
cm_to_in(4)

1.574804

#### 6. Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [195]:
iris_inch = cm_to_in(iris_numeric)

iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0      2.007875     1.377954      0.551181      0.07874
1      1.929135     1.181103      0.551181      0.07874
2      1.850395     1.259843      0.511811      0.07874
3      1.811025     1.220473      0.590552      0.07874
4      1.968505     1.417324      0.551181      0.07874

#### 7. We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [220]:
#intento de resolver el ejercicio
error = 2

def add_constant_chula(x):
    y = x + error
    return y

add_constant_chula(5)

7

In [223]:
iris_constant = add_constant_chula(iris_inch)      #aquí aplico la función a iris en inches y lo renombro a constant

iris_constant.shape
iris_constant.head      #por qué me ha creado columans extras??????

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width  0  1  2  3  4  5  \
0        4.007875     3.377954      2.551181     2.078740  4  4  4  4  4  4
1        3.929135     3.181103      2.551181     2.078740  4  4  4  4  4  4
2        3.850395     3.259843      2.511811     2.078740  4  4  4  4  4  4
3        3.811025     3.220473      2.590552     2.078740  4  4  4  4  4  4
4        3.968505     3.417324      2.551181     2.078740  4  4  4  4  4  4
..            ...          ...           ...          ... .. .. .. .. .. ..
145      4.637797     3.181103      4.047245     2.905512  4  4  4  4  4  4
146      4.480316     2.984253      3.968505     2.748032  4  4  4  4  4  4
147      4.559057     3.181103      4.047245     2.787402  4  4  4  4  4  4
148      4.440946     3.338583      4.125985     2.905512  4  4  4  4  4  4
149      4.322836     3.181103      4.007875     2.708662  4  4  4  4  4  4

     ...  140  141  142  143  144  145  146  147  148  149
0    ...    4    4    4    4    4    4    4    4    4    4
1    ...    4    4    4    4    4    4    4    4    4    4
2    ...    4    4    4    4    4    4    4    4    4    4
3    ...    4    4    4    4    4    4    4    4    4    4
4    ...    4    4    4    4    4    4    4    4    4    4
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
145  ...    4    4    4    4    4    4    4    4    4    4
146  ...    4    4    4    4    4    4    4    4    4    4
147  ...    4    4    4    4    4    4    4    4    4    4
148  ...    4    4    4    4    4    4    4    4    4    4
149  ...    4    4    4    4    4    4    4    4    4    4

[150 rows x 154 columns]>

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: