# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [7]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [3]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [4]:
print(next(iterator))

3

In [5]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [ ]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [8]:
iterator = iter([1,2,3])

    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:
def divisible2(iterator):
        for elemento in iterator:
            if elemento %2 ==0:
                x=elemento
            
                
        return x
divisible2(iterator)

2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [3]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [4]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [5]:
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
def even_n(n):
     even_n=[]
     for x in range(0,n):
            if x%2 ==0:
                even_n.append(x)
     yield even_n

itera= even_n(10)
next(itera)

[0, 2, 4, 6, 8]

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [6]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [7]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [14]:
# Your code here:
np.mean(iris)
#It will show the average of every column at the  data frame is found by adding all numbers in every single column and then dividing by the number of values that contain the columns.

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [15]:
# Your code here:
#iris.std()
np.std(iris)
#the dispersion of a DF by coulms to its mean and is calculated as the square root of the variance of every single column.

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [9]:
# Your code here:
iris_numeric= iris._get_numeric_data()
#iris_numeric=df_numerics_only = iris.select_dtypes(include=np.number)

print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [17]:
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
cm_to_in=lambda c: c * 0.39370

cm_to_in(6.3)

2.48031

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [45]:
# Your code here:

iris_inch= cm_to_in(iris_numeric)
print(iris_inch)

     sepal_length  sepal_width  petal_length  petal_width  total_length
0         2.00787      1.37795       0.55118      0.07874        1.9685
1         1.92913      1.18110       0.55118      0.07874        1.9685
2         1.85039      1.25984       0.51181      0.07874        1.9685
3         1.81102      1.22047       0.59055      0.07874        1.9685
4         1.96850      1.41732       0.55118      0.07874        1.9685
..            ...          ...           ...          ...           ...
145       2.63779      1.18110       2.04724      0.90551        1.9685
146       2.48031      0.98425       1.96850      0.74803        1.9685
147       2.55905      1.18110       2.04724      0.78740        1.9685
148       2.44094      1.33858       2.12598      0.90551        1.9685
149       2.32283      1.18110       2.00787      0.70866        1.9685

[150 rows x 5 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [22]:
# Define constant below:
error= 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error
add_constant(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [24]:
# Your code here:
iris_numeric.apply(np.max, axis=1)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [12]:
# Your code here:
iris_numeric= iris_numeric.assign(total_length=lambda x: (x['petal_length'] + x['sepal_length'])/2)
iris_numeric= iris_numeric.assign(total_width=lambda x: (x['sepal_width'] + x['petal_width'])/2)
print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width  total_length  \
0             5.1          3.5           1.4          0.2          3.25
1             4.9          3.0           1.4          0.2          3.15
2             4.7          3.2           1.3          0.2          3.00
3             4.6          3.1           1.5          0.2          3.05
4             5.0          3.6           1.4          0.2          3.20
..            ...          ...           ...          ...           ...
145           6.7          3.0           5.2          2.3          5.95
146           6.3          2.5           5.0          1.9          5.65
147           6.5          3.0           5.2          2.0          5.85
148           6.2          3.4           5.4          2.3          5.80
149           5.9          3.0           5.1          1.8          5.50

     total_width
0           1.85
1           1.60
2           1.70
3           1.65
4           1.90
..           ...
145         2.65
146         2.20
147         2.50
148         2.85
149         2.40

[150 rows x 6 columns]